{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="d-flex flex-column">
        <div>
            <center>
                <br><br><br><br><br><br>
                <p class="m-auto" style="font-size: 35px;font-weight: bold;">
                        Your password has been set.You may go ahed and <a href="{% url 'signin' %}" style="color: blue;">Sign In</a> now.
                    </p>
                <br><br><br><br><br><br><br><br><br>
            </center>
        </div>

    </div>
</div>


{% endblock content %}