<!-- <?php  include('header.php'); ?> -->
{% include 'supervisor_template/header.html' %}
{% load static %}
<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
	<!--begin::Header-->
	{% comment %} <?php include('inner-header.php')?> {% endcomment %}
	{% include 'supervisor_template/innerheader.html' %}
	<!--end::Header-->

	<!--begin::Content-->
	<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

		<!--begin::Entry-->
		<div class="d-flex flex-column-fluid">
			<!--begin::Container-->
			<div class="container-fluid">
				<!--begin::Dashboard-->
				<div class="row">
                {% if context.entry == 'Both' %}
					<div class="col-lg-6 ml-auto text-right  mb-3">
						<a href="#"
							class="btn btn-success font-weight-bolder font-size-sm mr-3">Customer Manual Entry</a>
						<a href="#" class="btn btn-dark font-weight-bolder font-size-sm mr-3">Customer Entry
							Through Sheet</a>
                        {% comment %} <a href="{% url 'onboardentry' %}" class="btn btn-info font-weight-bolder font-size-sm">Onboard Entry
							Through Sheet</a>             {% endcomment %}
						
					</div>
                    {% elif context.entry == 'Manual' %}
                    <div class="col-lg-6 ml-auto text-right  mb-3">
						<a href="#"
							class="btn btn-success font-weight-bolder font-size-sm mr-3">Customer Manual Entry</a>
                        {% comment %} <a href="{% url 'onboardentry' %}" class="btn btn-info font-weight-bolder font-size-sm mr-3">Onboard Entry
							Through Sheet</a>             {% endcomment %}
						
					</div>
                    {% elif context.entry == 'SheetUpload' %}
                    <div class="col-lg-6 ml-auto text-right  mb-3">
						<a href="#" class="btn btn-dark font-weight-bolder font-size-sm">Cusomer Entry
							Through Sheet</a>
                        {% comment %} <a href="{% url 'onboardentry' %}" class="btn btn-info font-weight-bolder font-size-sm mr-3">Onboard Entry
							Through Sheet</a>             {% endcomment %}
						
					</div>
                    {% endif %}
				</div>

				<div class="d-flex justify-content-center" id='spinnerSection' style='display:;margin-top: 100px;'>
					<div class="spinner-border  text-info" style="width: 6rem; height: 6rem;" role="status" id='spinnerSection1'>
						<span class="sr-only">Loading...</span>
					</div>
				</div>
				<div class="text-center mt-3" id='loadingSection' style='display:;'>
					<h4>Loading Store Sales Details</h4>
				</div>
			<div class="row" id='graphSection' style="display: none;">
					<div class="col-lg-12">
						<div class="card card-custom gutter-b">
							<div class="card-header h-auto">
								<div class="card-title  py-5">
									<h3 class="card-label">
										Stores Sales Information
									</h3>
								</div>
							</div>
							<div class="card-body">
								<canvas id="bar-chartcanvas" style="height: 300px;width: 100%;"></canvas>
							</div>
						</div>
					</div>
				</div>

				<div class="row" id='salesTableSection' style="display: none;">
					<div class="col-lg-12">
						<table class="table">
							<thead class="thead-dark">
							  <tr>
								<th scope="col">Store ID</th>
								<th scope="col">Store Name</th>
								<th scope="col">Today Sales ( <i class="fas fa-rupee-sign"></i> )</th>
								<th scope="col">Yesterday Sales ( <i class="fas fa-rupee-sign"></i> )</th>
								<th scope="col">Monthly Sales ( <i class="fas fa-rupee-sign"></i> )</th>
								<th scope="col">Last Week Sales ( <i class="fas fa-rupee-sign"></i> )</th>
								<th scope="col">Last Month Sales ( <i class="fas fa-rupee-sign"></i> )</th>
							  </tr>
							</thead>
							<tbody id="salesInfoAppend">
							  <tr>
								<th scope="row">-</th>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
							  </tr>
							</tbody>
						  </table>
					</div>
				</div>
				<!--end::Dashboard-->
			</div>
			<!--end::Container-->
		</div>
		<!--end::Entry-->
	</div>
	<!--end::Content-->



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 600;">Update User Password
                </h5>
                <span id='data' ></span>

                {% comment %} <button id='dismissBtn' type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> {% endcomment %}
            </div>
            
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Current Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword"  onkeyup="checkOldPassword()" aria-describedby="Enter current password"
                        placeholder="Enter Current Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">New Password</label><br>
					{% comment %} <small style="color:red;">*Password must contain 1 Capital,1 small alphabets 1 numeric and 1 special character</small> {% endcomment %}
                    <input type="password" class="form-control" id="exampleInputPassword1" onkeyup="checkNewPassword()" placeholder="Enter new password" readonly style="cursor:not-allowed;">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Re-enter New Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword2" onkeyup="checkNewPassword()" placeholder="Re-enter new password" readonly style="cursor:not-allowed;">
                </div>
            <input style="height:10px;width:10px;" class="" id="togglePassword" type='checkbox' onclick="showPassword()">&nbsp;&nbsp;Show Password
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id='cancelBtn' onclick="CancelBtn()">Cancel</button>
                <button class="btn btn-primary" id='updateBtn' onclick='updatePassword()' disabled style="cursor:not-allowed;">
                    Update
                </button>
            </div>
        </div>
	<input id='storeArrayID' style="display:none;" value='{{storenameArray}}'>
    </div>
</div>
	{% include 'supervisor_template/footer.html' %}
	<!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="{% static 'AdminAbacus/supervisorDash.js' %}"></script>

	<script>
	//======================================================================================
	// $.ajax({
    //         type: 'GET',
    //         url: "/getStores",
    //         success: function (response) {
	// 		   var storeArray = response.split(',')
    //            console.log(storeArray);
	// 		   //---------------------------------------------------------------
	// 		   	google.charts.load('current', {packages: ['corechart', 'bar']});
	// 			google.charts.setOnLoadCallback(drawMaterial);

	// 			function drawMaterial() {
	// 				var dataList = [];
	// 				dataList.push(['Stores', 'Today Sales','Yesterday Sales', 'Weekly Sales','Monthly Sales'])
	// 				for(var i=0;i<storeArray.length -1;i++){
	// 					dataList.push([storeArray[i], 100,50, 200,250])
	// 				}
    //            		console.log('dataList >>> ',dataList);

	// 				var data = google.visualization.arrayToDataTable(dataList);


	// 				var materialOptions = {
	// 					chart: {
	// 					title: 'Sales of Assigned Stores'
	// 					},
	// 					hAxis: {
	// 					title: 'Total Sales',
	// 					minValue: 0,
	// 					},
	// 					vAxis: {
	// 					title: 'Stores'
	// 					},
	// 					bars: 'horizontal'
	// 				};
	// 				var materialChart = new google.charts.Bar(document.getElementById('chart_div'));
	// 				materialChart.draw(data, materialOptions);
	// 				}
    //         }
    //     })
	
	//======================================================================================
	
	//==========================================================
	function getCookie(name) {
		let cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			const cookies = document.cookie.split(';');
			for (let i = 0; i < cookies.length; i++) {
				const cookie = cookies[i].trim();
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	//==========================================================
	function editSupervisor(thisTxt){
		
		var textData = $(thisTxt).text();
		console.log('textData >> ',textData);
		if(textData.trim() == 'Edit Details'){
			$('#supervisorName').css('border','1px solid #20c997');
			//$('#supervisorGender').css('border','1px solid #20c997');

			$('#supervisorName').css('pointer-events','');
			//$('#supervisorGender').css('pointer-events','');

			$('#editbtn').text('Update Details');
		}else if(textData.trim() == 'Update Details'){
			Swal.fire({
				position: 'center',
				title: "<b style='font-size:20px;font-weight:500;color:#1eb6e9;'>Updating supervisor</b>",
				showConfirmButton: false,
				onOpen: () => {
					Swal.showLoading();
				}
			})
			var supervisor_name = $('#supervisorName').val();
			//var supervisor_gender = '';
			//=======================================================================
        	const csrftoken = getCookie('csrftoken');
			$.ajax({
            type: 'POST',
            url: "/update_supervisor",
            headers: { 'X-CSRFToken': csrftoken },
            data: { 'supervisor_name': supervisor_name},
            success: function (response) {
               console.log(response);
            	Swal.close()
				Swal.fire(response['message'])
            }
            }).then(function(){
					//=======================================================================
					$('#supervisorName').css('border','1px solid white');
					//$('#supervisorGender').css('border','1px solid white');

					$('#supervisorName').css('pointer-events','none');
					//$('#supervisorGender').css('pointer-events','none');	

					$('#editbtn').text('Edit Details');
					location.reload();
			})
		}

		
	}


	
function updatePassword(){
	alert('Under development!');
	return false;
    $('#updateBtn').attr('disabled',true);
                    
    $('#updateBtn').html('Updating <span class="spinner-border spinner-border-sm"></span>');

    $('#spinUpdateLoader').css('display','');
    $('#cancelBtn').css('display','none');
    console.log('password updating...');

    var oldPassword = $('#exampleInputPassword').val().trim();
    var newPassword = $('#exampleInputPassword2').val().trim();

    $('#exampleInputPassword').attr('readonly',true);
    $('#exampleInputPassword1').attr('readonly',true);
    $('#exampleInputPassword2').attr('readonly',true);

    // =======================   AJAX call for password Update   =========================================
    const csrftoken = getCookie('csrftoken');
    $.ajax({
        type: 'POST',
        url: "updateUserPassword",
        headers: { 'X-CSRFToken': csrftoken },
        data: {'old_password': oldPassword, 'new_password': newPassword},
        success: function (response) {
            console.log('student data response', response);
            if('status' in response['resultData']){
                if(response['resultData']['message'] == 'Password updated successfully' && response['resultData']['code'] == 200){
                    $('#data').html('<i class="far fa-check-circle"></i> Password updated successfully');
                    $('#data').css('color','green');
                    $('#updateBtn').html('Update');
                    $('#updateBtn').attr('disabled',false);
                    $('#cancelBtn').css('display','');
    
                    $('#exampleInputPassword').val('');
                    $('#exampleInputPassword1').val('');
                    $('#exampleInputPassword2').val('');

                    $('#exampleInputPassword1').css('border','');
                    $('#exampleInputPassword2').css('border','');
    
                    $('#exampleInputPassword').attr('readonly',false);
                    $('#exampleInputPassword1').attr('readonly',true);
                    $('#exampleInputPassword2').attr('readonly',true);
                }
            }else{
                $('#data').html('<i class="far fa-times-circle"></i> Wrong old password! Try Again');
                $('#data').css('color','red');
                $('#updateBtn').html('Update');
                $('#updateBtn').attr('disabled',false);
                $('#cancelBtn').css('display','');

                $('#exampleInputPassword').val('');
                $('#exampleInputPassword1').val('');
                $('#exampleInputPassword2').val('');

                $('#exampleInputPassword1').css('border','');
                $('#exampleInputPassword2').css('border','');

                $('#exampleInputPassword').attr('readonly',false);
                $('#exampleInputPassword1').attr('readonly',true);
                $('#exampleInputPassword2').attr('readonly',true);
            }
        }
    });
    // ===================================================================================================
}

function checkOldPassword(){
    var oldPassword = $('#exampleInputPassword').val().trim();
    if(oldPassword.length >= 1){
        $('#exampleInputPassword1').attr('readonly',false);
        $('#exampleInputPassword1').css('cursor','');
    }else{
        $('#exampleInputPassword1').attr('readonly',true);
        $('#exampleInputPassword2').attr('readonly',true);

        $('#exampleInputPassword1').val('');
        $('#exampleInputPassword2').val('');
        $('#exampleInputPassword1').css('cursor','not-allowed');
        $('#exampleInputPassword2').css('cursor','not-allowed');

        $('#exampleInputPassword1').css('border','');
        $('#exampleInputPassword2').css('border','');

        $('#updateBtn').attr('disabled',true);
        $('#updateBtn').css('cursor','not-allowed');
    }
}

function checkNewPassword(){
    var newPassword = $('#exampleInputPassword1').val().trim();
    var re_enterNewPassword = $('#exampleInputPassword2').val().trim();

    if(newPassword.length >= 1){
        $('#exampleInputPassword2').attr('readonly',false);
        $('#exampleInputPassword2').css('cursor','');
    }if(newPassword.length < 1){
        $('#exampleInputPassword2').attr('readonly',true);
        $('#exampleInputPassword2').val('');
        $('#exampleInputPassword2').css('cursor','not-allowed');
    }if(newPassword == re_enterNewPassword){
        $('#exampleInputPassword1').css('border','1px solid green');
        $('#exampleInputPassword2').css('border','1px solid green');
        $('#updateBtn').attr('disabled',false);
        $('#updateBtn').css('cursor','');
    }if(newPassword != re_enterNewPassword){
        $('#exampleInputPassword1').css('border','1px solid red');
        $('#exampleInputPassword2').css('border','1px solid red');
        $('#updateBtn').attr('disabled',true);
        $('#updateBtn').css('cursor','not-allowed');
    }
}


function CancelBtn(){
    $('#exampleInputPassword').val('');
    $('#exampleInputPassword1').val('');
    $('#exampleInputPassword2').val('');
    $('#data').html('');

    $('#exampleInputPassword1').css('border','');
    $('#exampleInputPassword2').css('border','');

    $('#exampleInputPassword1').css('cursor','not-allowed');
    $('#exampleInputPassword2').css('cursor','not-allowed');

    $('#exampleInputPassword1').attr('readonly',true);
    $('#exampleInputPassword2').attr('readonly',true);

    $('#updateBtn').attr('disabled',true);
    $('#updateBtn').css('cursor','not-allowed');
}


function showPassword(){
    const cb = document.getElementById('togglePassword');
    console.log(cb.checked);
    if(cb.checked){
        $('#exampleInputPassword').attr('type','text');
        $('#exampleInputPassword1').attr('type','text');
        $('#exampleInputPassword2').attr('type','text');
    }else{
        $('#exampleInputPassword').attr('type','password');
        $('#exampleInputPassword1').attr('type','password');
        $('#exampleInputPassword2').attr('type','password');
    }
}
	</script>


{% comment %} <script>
$( document ).ready(function() {
	var storeArray = $('#storeArrayID').val();
	console.log('storeArrayID ::>>> ',storeArrayID.toString());
	});
</script> {% endcomment %}