<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container-fluid text-center">
            <div class="container">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                 <h1 style="text-align:center;text-decoration:underline;font-size:70px;font-weight:bolder;color:#6f42c1;text-shadow: 0 0 3px white, 0 0 5px #6f42c1;">Under Development!</h1>
            </div>
            <!--end::Container-->
            </div>

        </div>
        <!--end::Entry-->
    </div>