{% include 'admin_template/header.html' %}
{% load static %}
{% if user.is_authenticated %}
<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!--begin::Header-->
    {% include 'admin_template/inner-header.html' %}
    <!--end::Header-->

    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container-fluid">


                <!--begin::Row-->
                <div class="row">

                    <div class="col-lg-12  ">
                        <div class="card card-custom">
                            <!--begin::Header-->
                            <div class="card-header py-3">
                                <div class="card-title align-items-start flex-column">
                                    <h3 class="card-label font-weight-bolder text-dark">Change Password</h3>
                                    <span class="text-muted font-weight-bold font-size-sm mt-1">Change your account
                                        password</span>
                                </div>

                                <div class="tool-bar">
                                    <a href="{% url 'admin_profile' %}" class="btn btn-secondary ">Back</a>
                                </div>

                            </div>
                            <!--end::Header-->

                            <!--begin::Form-->
                            <form class="form" action="change_pwd" method="POST">
                                {% csrf_token %}
                                <div class="card-body"> 
                                    <div class="old-pass">
                                        {% if msz %}
                                            <p><small style="color:red;">{{msz}}</small></p> 
                                        {% endif %}
                                        <div class="form-group row old-pass">
                                            
                                            <label class="col-xl-3 col-lg-3 col-form-label text-alert">Current
                                                Password</label>
                                            <div class="col-lg-9 col-xl-6">
                                                                                             
                                                <input name="current_pwd" type="password"
                                                    class="form-control form-control-lg form-control-solid mb-2"
                                                    value="" placeholder="Current password" required/>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="otp">
                                        <div class="form-group row ">
                                            <label class="col-xl-3 col-lg-3 col-form-label text-alert">Enter OTP sent to
                                                the mobile</label>
                                            <div class="col-lg-9 col-xl-6">
                                                <input type="password" id="dig-1" onchange="ValidatePassKey(this)"
                                                    class="otp-text  " type="text" maxlength="1"  />
                                                <input type="password" id="dig-2" onchange="ValidatePassKey(this)"
                                                    class="otp-text" type="text" maxlength="1" />
                                                <input type="password" id="dig-3" onchange="ValidatePassKey(this)"
                                                    class="otp-text" type="text" maxlength="1" />
                                                <input type="password" id="dig-4" class="otp-text" type="text"
                                                    maxlength="1" nchange="btnn()" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-alert">New Password</label>
                                        <div class="col-lg-6 col-xl-6">
                                            <input name="new_pwd" type="password"
                                                class="form-control form-control-lg form-control-solid" value=""
                                                placeholder="New password" id="pas1" onkeyup="check_pass()" onclick="validateedadminPassowrd()" required/>
                                                <div id="passwordedadminCondition" class="col-lg-12 mb-3" style='display:none;'>
                                                <label id="checkPassmanagerStore"><b>Password must contain</b></label><br>
                                                <span id="charlenadmin" class="fa fa-times" style="font-weight: 600;color: red;font-size: 13px;">&nbsp;&nbsp;Atleast 8 characters</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span id="upercaseadmin" class="fa fa-times" style="font-weight: 600;color: red;font-size: 13px;">&nbsp;&nbsp;Minimun 1 uppercase</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span id="numbersadmin" class="fa fa-times" style="font-weight: 600;color: red;font-size: 13px;">&nbsp;&nbsp;Minimun 1 number</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span id="symadmin" class="fa fa-times" style="font-weight: 600;color: red;font-size: 13px;">&nbsp;&nbsp;Minimun 1 symbol</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-xl-3 col-lg-3 col-form-label text-alert">Verify
                                            Password</label>
                                        <div class="col-lg-6 col-xl-6">
                                            <input name="confirm_pwd" type="password"
                                                class="form-control form-control-lg form-control-solid" value=""
                                                placeholder="Verify password" id="pas2" onkeyup="check_pass()" required/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-6 col-xl-6  offset-lg-3  ">
                                            <a href="javascrpt:;" class="btn btn-secondary " data-toggle="modal"
                                                data-target="#confirm">Via Email</a>
                                            <!-- <a href="javascrpt:;" class="btn btn-secondary ml-2 btn-otp ">Via OTP</a> -->
                                            <input id="change_btn" type="submit" class="btn btn-success   float-right" value="Change" disabled>


                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!--end::Form-->
                        </div>
                    </div>


                </div>
                <!--end::Row-->
                <!--end::Dashboard-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->
    <div class="modal fade   popup" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-modal="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center  mb-5">
                    <img src="{% static 'images/check.png' %}">
                    <h3 class="mb-5">Password changed successfully. </h3>
                </div>

            </div>
        </div>
    </div>

    <!-- via email -->
    <form id='forgot_form' action='password_reset' method='POST'>
        {% csrf_token %}
    <div class="modal fade   popup" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-modal="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change Password Via Email</h4>
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center">
					<img src="{% static 'img/home/link.svg' %}">
					<p class=" text-3 mt-3 font-weight-semibold text-dark">Your registered Email address</p>
					<div class="form-group col-lg-12 col-md-12 col-sm-12">
						<input type="text" id='id_email' name="email" class="form-control text-center"
							placeholder="Email Address" value="{{user.email}}" onkeyup="searchEmail()">
                    </div>
                    <button type='submit' class='btn btn-primary btn-sm text-center' id="forget_button">Send </button>

					
				</div>
				

            </div>
        </div>
    </div>
</form>

    <div class="modal fade   popup" id="emaill" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-modal="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change Password Via Email</h4>
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center  mb-5">
                    <h4 class="mb-3 "> A link has been sent to your email. </h4>
                    <p class="mb-5 pb-4">Kindly check the email to change the password.</p>


                </div>

            </div>
        </div>
    </div>
    <script>
    function check_pass(){
        var p1 = document.getElementById('pas1').value;
    var p2 = document.getElementById('pas2').value;
    var f1 = false;
    var f2 = false;
    var f3 = false;
    var f4 = false;
    var pwd = $('#pas1').val();
    console.log(pwd);
    if (pwd.length >= 8) {
        document.getElementById('charlenadmin').classList.remove('fa-times');
        document.getElementById('charlenadmin').classList.add('fa-check');
        document.getElementById('charlenadmin').style.color = 'green';
        f1 = true;
    } else {
        document.getElementById('charlenadmin').classList.remove('fa-check');
        document.getElementById('charlenadmin').classList.add('fa-times');
        document.getElementById('charlenadmin').style.color = 'red';
        f1 = false;
    }

    //  atleast 1 Upper case alphabet
    if (pwd.match(/[A-Z]/)) {
        document.getElementById('upercaseadmin').classList.remove('fa-times');
        document.getElementById('upercaseadmin').classList.add('fa-check');
        document.getElementById('upercaseadmin').style.color = 'green';
        f2 = true;
    } else {
        document.getElementById('upercaseadmin').classList.remove('fa-check');
        document.getElementById('upercaseadmin').classList.add('fa-times');
        document.getElementById('upercaseadmin').style.color = 'red';
        f2 = false;
    }

    // atleast 1 numeric value
    if (pwd.match(/[0-9]/)) {
        document.getElementById('numbersadmin').classList.remove('fa-times');
        document.getElementById('numbersadmin').classList.add('fa-check');
        document.getElementById('numbersadmin').style.color = 'green';
        f3 = true;
    } else {
        document.getElementById('numbersadmin').classList.remove('fa-check');
        document.getElementById('numbersadmin').classList.add('fa-times');
        document.getElementById('numbersadmin').style.color = 'red';
        f3 = false;
    }

    // atleast 1 Special character 
    if(pwd.match(/[!\@\#\$\%\^\&\*\(\)\_\-\+\=]/)){
        document.getElementById('symadmin').classList.remove('fa-times');
        document.getElementById('symadmin').classList.add('fa-check');
        document.getElementById('symadmin').style.color = 'green';
        f4 = true;
    }else{
        document.getElementById('symadmin').classList.remove('fa-check');
        document.getElementById('symadmin').classList.add('fa-times');
        document.getElementById('symadmin').style.color = 'red';
        f4 = false;
    }

    if (f1 == true & f2 == true & f3 == true & f4 == true) {
        document.getElementById('change_btn').disabled = false;
    } else {
        document.getElementById('change_btn').disabled = true;
    }

        if(p1 == p2){
            document.getElementById('pas1').style.border = '1px solid green';
            document.getElementById('pas2').style.border = '1px solid green';
            document.getElementById('change_btn').disabled = false;
        }
        else{
            document.getElementById('pas1').style.border = '1px solid red';
            document.getElementById('pas2').style.border = '1px solid red';
            document.getElementById('change_btn').disabled = true;
        }
    } 

    function validateedadminPassowrd(){
        $('#passwordedadminCondition').show();
    }
    </script>
    <script>
    function searchEmail() {
    document.getElementById('forget_button').disabled = true;
    var valid_email = document.getElementById('id_email').value;
    var url = '/validate_adminemailID?email=' + valid_email;
    var req = new XMLHttpRequest();
    req.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var data = eval(req.responseText);
            if(data === true){
                console.log(data);
                document.getElementById('id_email').style.border = '';
                document.getElementById('forget_button').disabled = false;
            }else{
                console.log('error');
                document.getElementById('id_email').style.border = '2px solid red';
                document.getElementById('forget_button').disabled = true;   
            }
        }
    };
    req.open('GET', url, true)
    req.send()
    console.log('data sent successfully!')
}
    </script>
    
    {% include 'admin_template/footer.html' %}
{% endif %}