{% load static %}
{% include "admin_template/header.html" %}

    <!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!--begin::Header-->
    {% include "admin_template/inner-header.html" %}
    <!--end::Header-->

    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container-fluid text-center">
            <div class="container">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                 <h1 style="font-size:70px;font-weight:bolder;color:#6f42c1;text-shadow: 0 0 3px white, 0 0 5px #6f42c1;">Currently Out Of Scope!</h1><hr>
            </div>
            <!--end::Container-->
            </div>

        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->
 {% include "admin_template/footer.html" %}