{% load static %}
{% include 'admin_template/header.html' %}

<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
  <!--begin::Header-->
  {% include 'admin_template/inner-header.html' %}
  <!--end::Header-->

  <!--begin::Content-->
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
      <!--begin::Container-->
      <div class="container-fluid">


        <!--begin::Row-->
        <div class="row">
          <div class="col-lg-12 ">
            <h4 class="title mb-0">SMS Campaign</h4>
          </div>


          <div class="col-lg-12 ">
            <!--begin::Advance Table Widget 4-->
            <div class="card card-custom card-stretch gutter-b mt-4">
              <!--begin::Body-->
              <div class="card-body pt-2 pb-3 pl-3 pr-3">

                <div class="cust_head">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <input type="text" class="form-control" id='smsSearch' name="" placeholder="Search">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <input type='text' class="form-control" id="kt_daterangepicker_1" readonly
                        placeholder="Select date range" type="text" />
                    </div>
                    <div class="col-md-5 text-right  ">
                      <a href="{% url 'create_sms_campaign' %}" class="btn btn-primary btn-sm">Create New Campaign</a>
                    </div>




                  </div>
                </div>
                <!-- ########################################################################################################################################################################## -->
                <!-- PATH FOR DATE FILTER : static\assets\js\pages\crud\forms\widgets\bootstrap-daterangepicker.js        {line no : 100}-->
                <!-- ########################################################################################################################################################################## -->
                <div class="tab-content" id='hideSmsCampNAmeTable'>
                  <!--begin::Table-->

                  <div class="table-responsive">
                    <!--begin: Datatable-->
                    <table id="camp_tbl" class="  camp_tbl tbl list dark   table table-bordered     table-striped ">
                      <thead>
                        <tr>

                          <th>Campaign Name</th>
                          <th>Date</th>
                          <th>SMS Sent </th>
                          <th>Total Delivered</th>
                          <th>Not Delivered</th>
                          <th>Details</th>

                        </tr>
                      </thead>
                      <tbody id='sms_camp_table_body'>
                        {% for item in master_campaign %}
                        <tr>
                          <td>{{item.campaignName}}</td>
                          <td>{{item.time_stamp}}</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                          <td class="text-center">
                            <form action='' method='GET'>
                              <a href="{% url 'campaignDetailSMS' item.id %}"><i
                                  class="fa fa-eye text-dark pr-3"></i></a>
                            </form>
                          </td>
                        </tr>
                        {% endfor %}

                      </tbody>
                    </table>

                <h2 style="text-align: center;display: none;" id="ShowErrmsgSMS">No Record Found</h2>

                  </div>
                  <!--end::Table-->
                </div>
              </div>
              <!--end::Body-->
            </div>
            <!--end::Advance Table Widget 4-->
          </div>


        </div>
        <!--end::Row-->
        <!--end::Dashboard-->
      </div>
      <!--end::Container-->
    </div>
    <!--end::Entry-->
  </div>
  <!--end::Content-->
  <!-- delete modal -->
  <div class="modal fade   popup  " id="cust_det" tabindex="-1" role="dialog " aria-labelledby="exampleModalLabel"
    aria-modal="true">
    <div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Customer Detail</h4>
          <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body pt-0  mb-2">
          <form class="form">
            <div class="card-body pt-0 pb-0 pl-1 pr-1">
              <div class="row">

                <div class="col-lg-9">
                  <div class="form-group row">
                    <div class="col-lg-4 mt-3 mb-3">
                      <label>Name</label>
                      <input type="text" class="form-control" placeholder="Enter   name" value="Saurabh Singh" />
                    </div>
                    <div class="col-lg-4 mt-3 mb-3">
                      <label>Contact No.</label>
                      <input type="text" class="form-control" placeholder="Enter contact no" value="8574558888" />
                    </div>

                    <div class="col-lg-4 mt-3 mb-3">
                      <label>Email<span>*</span></label>
                      <div class="input-group">

                        <input type="text" class="form-control" value="saurabh33@gmail.com" placeholder="Enter Email" />
                      </div>


                    </div>
                    <div class="col-lg-4 mt-3 mb-3">
                      <label>DOB<span>*</span></label>
                      <div class="input-group">

                        <input id="kt_datepicker_1_modal" type="text" class="form-control" placeholder="Enter DOB"
                          value="01/06/88" />
                      </div>


                    </div>
                    <div class="col-lg-4 mt-3 mb-3">
                      <label>Gender</label>
                      <div class="radio-inline mt-3">
                        <label class="radio radio-outline radio-outline-2x radio-primary">
                          <input type="radio" name="radios16" checked="checked">
                          <span></span>
                          Male
                        </label>
                        <label class="radio radio-outline radio-outline-2x radio-primary">
                          <input type="radio" name="radios16">
                          <span></span>
                          Female
                        </label>

                      </div>
                    </div>



                  </div>
                </div>
                <div class="col-lg-3 text-center pt-5">
                  <div class="image-input image-input-outline mt-5" id="kt_profile_avatar"
                    style="background-image: url(assets/media/users/blank.png)">
                    <div class="image-input-wrapper"></div>

                    <label class="btn btn-sm btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                      data-action="change" data-toggle="tooltip" title="" data-original-title="Change avatar">
                      <i class="fa fa-camera icon-md text-muted"></i>
                      <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
                      <input type="hidden" name="profile_avatar_add" />
                    </label>




                  </div>

                </div>

                <div class="col-lg-12 mt-4">
                  <div class="table-responsive">
                    <!--begin: Datatable-->
                    <table class="datatable tbl   dark cust_det datatable-bordered datatable-head-custom table-striped "
                      id="kt_datatable">
                      <thead>
                        <tr>

                          <th>Store Name</th>
                          <th> Total Shopping</th>
                          <th>Tier</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Lens Kart, Bhootnath</td>
                          <td>Rs. 10,000</td>
                          <td>
                            Tier 2
                          </td>
                        </tr>
                        <tr>
                          <td>Lens Kart, Bhootnath</td>
                          <td>Rs. 10,000</td>
                          <td>
                            Tier 2
                          </td>
                        </tr>
                        <tr>
                          <td>Lens Kart, Bhootnath</td>
                          <td>Rs. 10,000</td>
                          <td>
                            Tier 2
                          </td>
                        </tr>


                      </tbody>
                    </table>
                    <!--end: Datatable-->

                  </div>
                </div>

                <div class="col-lg-12 mt-5 pt-4 text-right">
                  <button class="btn btn-secondary btn-lg">Cancel</button>
                  <button class="btn btn-primary btn-lg ml-4">Update</button>
                </div>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- exprt csv modal -->
  <div class="modal fade   popup  " id="csv" tabindex="-1" role="dialog " aria-labelledby="exampleModalLabel"
    aria-modal="true">
    <div class="modal-dialog modal-dialog-centered  " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Export CSV</h4>
          <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body pt-0  mb-2">
          <form class="form">
            <div class="card-body pt-0 pb-0 pl-1 pr-1">
              <div class="row">

                <div class="col-lg-12">
                  <div class="form-group row">

                    <div class="col-lg-12 mt-3 mb-3">
                      <label>Want to export CSV for </label>
                      <div class="radio-list mt-3">
                        <label class="radio radio-outline radio-outline-2x radio-primary">
                          <input type="radio" name="radios16" checked="checked">
                          <span></span>
                          All Customers
                        </label>
                        <label class="radio radio-outline radio-outline-2x radio-primary">
                          <input type="radio" name="radios16">
                          <span></span>
                          Selected Customers
                        </label>

                        <label class="radio radio-outline radio-outline-2x radio-primary">
                          <input type="radio" name="radios16">
                          <span></span>
                          Unselected Customers
                        </label>

                      </div>
                    </div>



                  </div>
                </div>

                <div class="col-lg-12 mt-5  text-right">

                  <button class="btn btn-primary btn-lg ml-4">Export</button>
                </div>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- send mail modal -->
  <div class="modal fade   popup  " id="mail" tabindex="-1" role="dialog " aria-labelledby="exampleModalLabel"
    aria-modal="true">
    <div class="modal-dialog modal-dialog-centered  " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Send Mail</h4>
          <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body pt-0  mb-2">
          <form class="form">
            <div class="card-body pt-0 pb-0 pl-1 pr-1">
              <div class="row">

                <div class="col-lg-12">
                  <div class="form-group row">

                    <div class="col-lg-12 mt-3 mb-3">
                      <label>Want to send mail to </label>
                      <div class="radio-list mt-3">
                        <label class="radio radio-outline radio-outline-2x radio-primary">
                          <input type="radio" name="radios16" checked="checked">
                          <span></span>
                          All Customers
                        </label>
                        <label class="radio radio-outline radio-outline-2x radio-primary">
                          <input type="radio" name="radios16">
                          <span></span>
                          Selected Customers
                        </label>

                        <label class="radio radio-outline radio-outline-2x radio-primary">
                          <input type="radio" name="radios16">
                          <span></span>
                          Unselected Customers
                        </label>

                      </div>
                    </div>



                  </div>
                </div>

                <div class="col-lg-12 mt-5  text-right">

                  <a href="send-mail.php" class="btn btn-primary btn-lg ml-4">Send SMS</a>
                </div>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- send sms modal -->
  <div class="modal fade   popup  " id="sms" tabindex="-1" role="dialog " aria-labelledby="exampleModalLabel"
    aria-modal="true">
    <div class="modal-dialog modal-dialog-centered  " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Send SMS</h4>
          <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body pt-0  mb-2">
          <form class="form">
            <div class="card-body pt-0 pb-0 pl-1 pr-1">
              <div class="row">

                <div class="col-lg-12">
                  <div class="form-group row">

                    <div class="col-lg-12 mt-3 mb-3">
                      <label>Want to send SMS to </label>
                      <div class="radio-list mt-3">
                        <label class="radio radio-outline radio-outline-2x radio-primary">
                          <input type="radio" name="radios16" checked="checked">
                          <span></span>
                          All Customers
                        </label>
                        <label class="radio radio-outline radio-outline-2x radio-primary">
                          <input type="radio" name="radios16">
                          <span></span>
                          Selected Customers
                        </label>

                        <label class="radio radio-outline radio-outline-2x radio-primary">
                          <input type="radio" name="radios16">
                          <span></span>
                          Unselected Customers
                        </label>

                      </div>
                    </div>



                  </div>
                </div>

                <div class="col-lg-12 mt-5  text-right">

                  <a href="send-sms.php" class="btn btn-primary btn-lg ml-4">Send SMS</a>
                </div>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>


  {% include 'admin_template/footer.html' %}
  <script src="assets/js/jquery-ui.js"></script>