{% load static %}
{% load overview_extras %}
{% include 'admin_template/header.html' %}
<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
  <!--begin::Header-->
  {% include "admin_template/inner-header.html" %}
  <!--end::Header-->

  <!--begin::Content-->
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
      <!--begin::Container-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 ">
            <h4 class="title">Store Group List &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:green;'>{{success_msg}}</span><span style='color:red;'>{{error_msg}}</span></h4> 
          </div>
          <div class="col-md-6 text-right">
                <a href="{% url 'createStoreGroup' %}" class="btn btn-outline-primary add-cat " >+Add Store Group</a>
          </div>
          <div class="col-lg-12">
            <div class="card card-custom gutter-b example example-compact ">
            <div class="col-lg-12">
            <div class="card-body pt-3 pb-0">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" onkeyup="search_table()" name="" id="search_field_input"
                                                        placeholder="Search">
                                                    </div>
                                                </div>
                                                <table class="table" id="paperTable">
                                                    <thead class="thead-dark">
                                                      <tr>
                                                        <th scope="col">Group ID</th>
                                                        <th scope="col">Group Name</th>
                                                        <th scope="col">Group Description</th>
                                                        <th></th>
                                                      </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if lent > 0 %}
                                                        {% for i in store_groups_List %}
                                                            <tr>
                                                                <th scope="row">{{i.groupID}}</th>
                                                                <td>{{i.groupName}}</td>
                                                                <td>{{i.groupDescription}}</td>
                                                                <td>
                                                                    <a title='view group details' href="{% url 'storeGroupDetail' i.id %}" ><i style="font-size: 20px;font-weight: 700;color: rgb(219, 216, 20);" class="fas fa-eye"></i></a>&nbsp;&nbsp;&nbsp;
                                                                    <a title='edit group details' href="{% url 'edit_storeGroupDetail' i.id %}"><i style="font-size: 20px;font-weight: 700;color: rgb(18, 168, 214);" class="fas fa-edit"></i></a>&nbsp;&nbsp;&nbsp;
                                                                    <a title='view data' href="{% url 'storeGroupDataReportList' i.id %}" class='btn Btn-sm btn-primary'>Generate Data</a>&nbsp;&nbsp;&nbsp;
                                                                    <a title='delete group' href="{% url 'delete_StoreGroup' i.id %}" onclick="return confirm('Are you sure, You want to delete this Group?')"><i style="font-size: 20px;font-weight: 700;color: rgb(218, 32, 32);" class="fas fa-trash"></i></a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                  </table>
                                                    {% else %}
                                                    </tbody>
                                                  </table>
                                                  <div class="text-center"><br>
                                                      <h3> - No Group Available - </h3><br>
                                                  </div>
                                                    {% endif %}
                                                    
                                            </div>
                                        </div>

                                    </div>
            </div>

            <!-- store manage detail -->


          </div>
        </div>
      </div>
      <!--end::Container-->


    </div>
    <!--end::Entry-->
  </div>
  <!--end::Content-->
  <div class="modal fade   popup" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body text-center  mb-5">
          <img src="{% static 'assets/images/check.png' %}">
          <h3 class="mb-5">Product category added successfully. </h3>
        </div>

      </div>
    </div>
  </div>
  </script>
  <script>
    function search_table(){
      // Declare variables 
      var input, filter, table, tr, td, i;
      input = document.getElementById("search_field_input");
      filter = input.value.toUpperCase();
      table = document.getElementById("paperTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td") ; 
        for(j=0 ; j<td.length ; j++)
        {
          let tdata = td[j] ;
          if (tdata) {
            if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
              break ; 
            } else {
              tr[i].style.display = "none";
            }
          } 
        }
      }
    }
        </script>
  {% include 'admin_template/footer.html' %}
{% comment %} <script src="{% static 'AdminAbacus/supervisor.js' %}"></script> {% endcomment %}
