{% load static %}
{% include "admin_template/header.html" %}
{% comment %} <style>
    .switchToggle input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
        position: absolute;
    }

    .switchToggle label {
        cursor: pointer;
        text-indent: -9999px;
        width: 70px;
        max-width: 70px;
        height: 30px;
        background: #d1d1d1;
        display: block;
        border-radius: 100px;
        position: relative;
    }

    .switchToggle label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 26px;
        height: 26px;
        background: #fff;
        border-radius: 90px;
        transition: 0.3s;
    }

    .switchToggle input:checked+label,
    .switchToggle input:checked+input+label {
        background: #3e98d3;
    }

    .switchToggle input+label:before,
    .switchToggle input+input+label:before {
        content: 'No';
        position: absolute;
        top: 5px;
        left: 35px;
        width: 26px;
        height: 26px;
        border-radius: 90px;
        transition: 0.3s;
        text-indent: 0;
        color: #fff;
    }

    .switchToggle input:checked+label:before,
    .switchToggle input:checked+input+label:before {
        content: 'Yes';
        position: absolute;
        top: 5px;
        left: 10px;
        width: 26px;
        height: 26px;
        border-radius: 90px;
        transition: 0.3s;
        text-indent: 0;
        color: #fff;
    }

    .switchToggle input:checked+label:after,
    .switchToggle input:checked+input+label:after {
        left: calc(100% - 2px);
        transform: translateX(-100%);
    }

    .switchToggle label:active:after {
        width: 60px;
    }

    .toggle-switchArea {
        margin: 10px 0 10px 0;
    }
</style> {% endcomment %}
<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!--begin::Header-->
    {% include "admin_template/inner-header.html" %}
    <!--end::Header-->

    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container-fluid">


                <!--begin::Row-->
                <div class="row">
                    <div class="col-lg-6 "><span style="font-weight: 400;font-size: 20px;" class="title">Store
                            Management</span>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% if success %}
                        <span style="color: green;">{{success}}</span>
                        {% endif %}
                    </div>

                    <div class="col-lg-6  text-right"><a href="{% url 'add_store' %}" class="btn btn-outline-primary">+
                            Add
                            Store</a> </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" name="" id="myInput" onkeyup="myFunction()"
                                placeholder="Search by Store Name" style="" title="">
                        </div>
                    </div>
                    <div class="col-lg-12 ">
                        <!--begin::Advance Table Widget 4-->
                        <div class="card card-custom card-stretch gutter-b mt-4">
                            <!--begin::Body-->
                            <div class="card-body pt-0 pb-3 pl-0 pr-0">
                                <div class="tab-content">
                                    <!--begin::Table-->
                                    <div class="table-responsive">
                                        <!--begin: Datatable-->
                                        <table class="table" id='mytable'>
                                          <thead class="thead-dark">
                                            <tr>
                                                    <th>Store ID</th>
                                                    <th>Store Name</th>
                                                    <th> </th>

                                                </tr>
                                        </thead>
                                        <tbody id='tableDefaultBody'>
                                                {% for item in storeResult %}
                                                <tr>
                                                    <td><strong>{{item.storeID}}</strong></td>
                                                    <td><strong>{{item.store_name|upper}},</strong>&nbsp
                                                        {{item.store_location}} - {{item.store_state}}</td>
                                                    <td class="text-center">
                                                        {% comment %} ----------------------------------------------
                                                        {%endcomment %}
                                                        {% if item.statusflag %}
                                                        <div class="switchToggle">
                                                            <label for="switch" style="font-weight:bold;"
                                                                id="manageractivestatus"> Active Store Status</label>
                                                            <input type="checkbox" id="switch" value="{{item.storeID}}"
                                                                onclick='checkmanagerstatus(this)' checked>
                                                        </div>
                                                        {% else %}
                                                        <div class="switchToggle">
                                                            <label for="switch" style="font-weight:bold;"
                                                                id="managerdeactivestatus"> Active Store Status</label>
                                                            <input type="checkbox" id="switch" value="{{item.storeID}}"
                                                                onclick='checkmanagerstatus(this)'>
                                                        </div>
                                                        {% endif %}
                                                        {% comment %} ----------------------------------------------
                                                        {%endcomment %}
                                                        <form action="{% url 'edit_store' item.id %}" method="GET"
                                                            class="d-inline">
                                                            <input type="submit" value="Edit"
                                                                class="btn btn-primary btn-sm fa fa-edit">
                                                        </form>
                                                        <form action="{% url 'delete_store' item.id %}" method="post"
                                                            class="d-inline"
                                                            onsubmit="return confirm('Are you sure, You want to delete this store!')">
                                                            {% csrf_token %}
                                                            <input type="submit" value="Delete"
                                                                class="btn btn-danger btn-sm">
                                                        </form>
                                                    </td>

                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>






                                        <!-- <table
                                            class="datatable tbl list dark datatable-bordered datatable-head-custom table-striped "
                                            id="kt_datatable">
                                            <thead>
                                                <tr>
                                                    <th>Store ID</th>
                                                    <th>Store Name</th>
                                                    <th> </th>

                                                </tr>
                                            </thead>
                                            <tbody id='tableDefaultBody'>
                                                {% for item in storeResult %}
                                                <tr>
                                                    <td>{{item.storeID}}</td>
                                                    <td><strong>{{item.store_name|upper}},</strong>&nbsp
                                                        {{item.store_location}} - {{item.store_state}}</td>
                                                    <td class="text-center">
                                                        {% comment %} ----------------------------------------------
                                                        {%endcomment %}
                                                        {% if item.statusflag %}
                                                        <div class="switchToggle">
                                                            <label for="switch" style="font-weight:bold;"
                                                                id="manageractivestatus"> Active Store Status</label>
                                                            <input type="checkbox" id="switch" value="{{item.storeID}}"
                                                                onclick='checkmanagerstatus(this)' checked>
                                                        </div>
                                                        {% else %}
                                                        <div class="switchToggle">
                                                            <label for="switch" style="font-weight:bold;"
                                                                id="managerdeactivestatus"> Active Store Status</label>
                                                            <input type="checkbox" id="switch" value="{{item.storeID}}"
                                                                onclick='checkmanagerstatus(this)'>
                                                        </div>
                                                        {% endif %}
                                                        {% comment %} ----------------------------------------------
                                                        {%endcomment %}
                                                        <form action="{% url 'edit_store' item.id %}" method="GET"
                                                            class="d-inline">
                                                            <input type="submit" value="Edit"
                                                                class="btn btn-primary btn-sm fa fa-edit">
                                                        </form>
                                                        <form action="{% url 'delete_store' item.id %}" method="post"
                                                            class="d-inline"
                                                            onsubmit="return confirm('Are you sure, You want to delete this store!')">
                                                            {% csrf_token %}
                                                            <input type="submit" value="Delete"
                                                                class="btn btn-danger btn-sm">
                                                        </form>
                                                    </td>

                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table> -->
                                        <br>
                                        <div style='display:none;' class="text-center" id="hideStoreList">
                                            <h3>No Record available</h3>
                                        </div>
                                        <!--end: Datatable-->
                                        <button class="btn btn-success btn-send  float-right mr-4 mt-4 pl-5 pr-5"
                                            onclick="window.open('preview-data.php','_self')"> Preview & Send </button>
                                    </div>
                                    <!--end::Table-->
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Advance Table Widget 4-->
                    </div>


                </div>
                <!--end::Row-->
                <!--end::Dashboard-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->
    <!-- delete modal -->
    <div class="modal fade   popup" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-modal="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body text-center  mb-5">
                    <h3 class="mb-5"> Are you sure want to delete this store? </h3>
                    <button class="btn btn-dark" data-dismiss="modal">Confirm</button>
                </div>
            </div>
        </div>
    </div>
    {% include "admin_template/footer.html" %}
    <!-- ======================================================================================================================= -->
    <!-- ============================================  AJAX SEARCH FOR STORES  ================================================= -->
    <!-- ======================================================================================================================= -->
    <script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("mytable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>
    <script>
        function ajaxSearch(thisTxt) {
            $.ajax({
                type: 'GET',
                url: "storeAjaxSearch",
                data: { 'searchString': thisTxt.value.trim() },
                success: function (response) {
                    console.log('Search result response :=> ', response);
                    $('#tableDefaultBody').html('');
                    // ---------------------  RENDER THE SERCH RESULT ON PAGE  -------------------------------

                    // ----------------------------------------------------------------
                }
            });
        }
    </script>
    <!-- ================================   RESTRICTING WITH SINGLE SPACE BETWEEN WORDS   ==================================== -->
    <script>
        var i = 0;
        $("#searchString").on('keypress', function (e) {
            if ($(this).val().length < 1) {
                if (e.which == 32) {
                    return false;
                }
            }
            else {
                if (e.which == 32) {
                    if (i != 0) {
                        return false;
                    }
                    i++;
                }
                else {
                    i = 0;
                }
            }
        });
    </script>
    <!-- ======================================================================================================================= -->