{% load static %} {% include "admin_template/header.html" %}

<style>
  .removeTier {
    display: inline-block;
    float: right;
    font-size: 20px;
    color: red !important;
    opacity: 1;
    font-size: 22px;
  }

  .addMore,
  .addMore-c {
    display: block;
    margin-top: 30px;
  }
</style>
<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
  <!--begin::Header-->
  {% include "admin_template/inner-header.html" %}
  <!--end::Header-->

  <!--begin::Content-->
  <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
      <!--begin::Container-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h4 class="title">Tier Management - Individual Store</h4>
          </div>

          <div class="col-lg-12">
            <div class="card card-custom gutter-b example example-compact">
              <div class="card-header">
                <h3 class="card-title">Tier Definition</h3>
              </div>
              <!--begin::Form-->
              <form class="form" action="tier_managememt_individual" method="POST">
                <div class="card-body pt-3 pb-0">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        Define Tier to the customers on the basis of Shopping
                        amount and the time period.
                      </p>
                      <div class="form-group row">
                        <div class="col-lg-3 mt-3">
                          <div class="form-group">
                            <label for="sel1">Store Name<span>*</span></label>
                            <select class="form-control" id="StoreList" name="StoreList" onchange="getStorename(this)">
                              <option>--Select--</option>
                              {% for i in store_data %}
                              <option value="{{i.store_name}}">
                                {{i.store_name}}
                              </option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-2 mt-3">
                          <label>Assign Tier<span>*</span></label>
                          <select class="form-control" id="tierRule" name="tierRule">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                          </select>
                        </div>
                        <div class="col-lg-2 mt-3">
                          <label>Time Period(in Yr.s)<span>*</span></label>
                          <select class="form-control" name="tierTimePeriod">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                          </select>
                        </div>

                        <div class="col-lg-4 mt-3 amount">
                          <label class="d-block" id="CheckTierRange">Shopping Amount (in Rs.)<span>*</span></label>
                          <div class="clearfix"></div>
                          <input type="text" class="form-control" id='AMOUNTFROM' placeholder="From" name="tierFromAMT"
                            onkeyup="CheckRangeData(this)" onkeypress="return onlyNumberKey(event)"  />
                          <input type="text" class="form-control" id="AMOUNTTO" placeholder="To" name="tierToAMT"
                            onkeyup="CheckRangeData(this)" onkeypress="return onlyNumberKey(event)" />
                        </div>
                        
                        
                        <div class="col-lg-1 mt-3">
                          <a id="addbutton"  href="#" class="addMore" onclick="tierAdd()"><i class="fa fa-plus-circle" id="addButn"
                              style="color: green; font-size: 21px"></i></a>
                        </div>
                      </div>
                      <div id="add-tier"></div>
                    </div>
                  </div>
                </div>
              </form>
              <!--end::Form-->
            </div>

            <!-- store manage detail -->
          </div>
        </div>
      </div>
      <!--end::Container-->
    </div>
    <!--end::Entry-->
  </div>
  <!--end::Content-->
  <div class="modal fade popup" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body text-center mb-5">
          <h3 class="mb-5">Are you sure want to submit the data?</h3>
          <button class="btn btn-dark" data-dismiss="modal" data-target="#success" data-toggle="modal">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade popup" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body text-center mb-5">
          <h3 class="mb-5">Are you sure want to delete this rule?</h3>
          <button class="btn btn-dark" data-dismiss="modal">Confirm</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade popup" id="success" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-modal="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i aria-hidden="true" class="ki ki-close"></i>
          </button>
        </div>
        <div class="modal-body text-center mb-5">
          <img src="{% static 'assets/images/check.png' %}" />
          <h3 class="mb-5">
            Tier rules for the <strong>Adidas, Mahanagar</strong> store are
            defined successfully.
          </h3>
        </div>
      </div>
    </div>
  </div>

  {% include "admin_template/footer.html" %}
</div>