{% extends 'base.html' %}
{% load static %}
{% block content %}
<div role="main" class="main">
	<div class="slider-container slider-container-height-550 rev_slider_wrapper">
		<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.7" data-plugin-revolution-slider
			data-plugin-options="{'delay': 9000, 'gridwidth': [1140,960,720,540], 'gridheight': [550,550,550,550], 'responsiveLevels': [4096,1200,992,576], 'parallax': { 'type': 'mouse', 'origo': 'slidercenter', 'speed': 2000, 'levels': [2,3,4,5,6,7,12,16,10,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true, 'hide_under': 767, 'style': 'slider-arrows-style-1' }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 25, 'h_offset': 0}}}">
			<ul>
				{% comment %} <li class="slide-overlay slide-overlay-level-1" data-transition="fade">
					<img src="{% static 'img/home/p1.jpeg' %}" alt="" data-bgposition="50% 20%" data-bgfit="cover"
						data-bgrepeat="no-repeat" class="rev-slidebg">
				</li> {% endcomment %}
				<li data-transition="fade">
					<img src="{% static 'img/home/p2.jpeg' %}" alt="" data-bgposition="center center" data-bgfit="cover"
						data-bgrepeat="no-repeat" class="rev-slidebg">
				</li>
                <li data-transition="fade">
					<img src="{% static 'img/home/p3.jpeg' %}" alt="" data-bgposition="center center" data-bgfit="cover"
						data-bgrepeat="no-repeat" class="rev-slidebg">
				</li>
                {% comment %} <li data-transition="fade">
					<img src="{% static 'img/home/p5.JPEG' %}" alt="" data-bgposition="center center" data-bgfit="cover"
						data-bgrepeat="no-repeat" class="rev-slidebg">
				</li> {% endcomment %}
                <li data-transition="fade">
					<img src="{% static 'img/home/p6.jpeg' %}" alt="" data-bgposition="center center" data-bgfit="cover"
						data-bgrepeat="no-repeat" class="rev-slidebg">
				</li>
				<li data-transition="fade">
					<img src="{% static 'img/home/p4.jpeg' %}" alt="" class="rev-slidebg bg-dark-5">
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock content %}